{% load static %}

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0">

    <title>Display SHG Loan</title>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="{%static 'css/navbar1.css'%}" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <style>
        .table12 {
  background-color: #4af7f7;
  color: white;
  margin: 20px;
  padding: 20px;
}
    </style>

</head>
<body translate="no">


		<nav class="navbar navbar-expand-lg navbar-mainbg">
        <a class="navbar-brand navbar-logo" href="{% url 'portal' %}">IMO Portal</a>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="float:right">
                        <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/portal/signup"><i class="fas fa-university"></i>Add SHG</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/portal/display"><i class="far fa-list-alt"></i>List of SHG</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/portal/gateway"><i class="fas fa-calculator"></i>Taxes</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/portal/install"><i class="far fa-address-book"></i>SHG Installment</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/acc/"><i class="fas fa-business-time"></i>Financial Position</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/stats/income_generating"><i class="far fa-chart-bar"></i>Statistics</a>
                </li>
                <li class="nav-item" style="float:right">
                    <a class="nav-brand navbar-logo" href="http://127.0.0.1:8000/logout"><i class="far fa-user-circle"></i>Logout</a>
                </li>

            </ul>
    </nav>

        <div class="container"><br/>
  <h2 style="text-align:center">List of SHGs</h2>
  <p></p>
            <div class="table-responsive">
  <table class="table table-striped" >
    <thead >
      <tr class="table-primary " style="font-size: 21px;text-align:center">
        <th>Name</th>
        <th>Activity</th>
        <th>Pending Amount</th>
      </tr>
    </thead>
    <tbody>
    {% for s in shg %}
            <tr style="text-align:center">
                <td>{{s.Name}}</td>
                <td>{{s.Activity}}</td>
                <td>{{s.BalanceAmount}}</td>
            </tr>
    {% endfor %}
    </tbody>
    </table>
        </div>
        </div>

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"/>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.j"/>
</body>
</html>
